*{
    font-family: montserrat, arial;
}
body{
    margin: 0;

}
p{
    padding: 0;
}
/*CABECERA*/
@font-face{
    font-family:'montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}
@keyframes moverTitulo {
    0% {
        
        margin-left: 100%;

    }
    
    50%{
        margin-right: 40%;
    }
}
header{
    width: 100%;
    background-color: #8aef96 ;
    color: white;

    position: fixed;
    top:0;
    z-index: 100000;
    padding-bottom: 20px;

}
header h1{
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
    animation-name: moverTitulo;
    animation-duration: 10s;
    animation-iteration-count: 1;
}
header p{
    text-align: center;
}
/*CUERPO*/
.contenedorIzquierda2{
    position: absolute;
    width: 20%;
    height: 100vh;
    
}
.contenedorDerecha{
    position: absolute;
    width: 20%;
    height: 100vh;
    right: 0;
}
main{
    margin-top: 180px;
}
.centro{
    width: 60%;
    margin: auto;
    padding: 20px;
}
.contenedorCentroIndex{
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: auto;
}
.contenedorCentro1{
    position: relative;
    overflow: hidden;
}
.contenedorCentroImagen{
    float: right;
    width: 50%;
    display: flex;
    justify-content: end;
}
.contenedorCentroImagen img{
    width: 90%;
    filter: blur(5px);
}
.contenedorCentroImagen img:hover {
    filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.7));
}
.contenedorCentro1Txt{
    float: left;
    width: 48%;
    margin-top: 20px;
    text-align: justify;
}
.contenedorCentroImagen1{
    float: right;
    width: 50%;
    display: flex;
    justify-content: end;
}
@keyframes animacionImagenBalancear {
    
    0%{
        transform: scale(1.8);
        transform: rotate(25deg);
    }
    50%{
        transform: scale(0.8);
        transform: rotate(-25deg);
    }
    100%{
        transform: scale(1.8);
        transform: rotate(25deg);
    }
}
.contenedorCentroImagen1 img{
    width: 70%;
    animation-name: animacionImagenBalancear;
    animation-duration: 3s;
    animation-iteration-count:infinite;

}
.contenedorCentroImagen1 img:hover {
    filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.7));
}

.contenedorCentro2Txt{
    float: right;
    width: 50%;
    margin-top: 20px;
    text-align: justify;
}
@keyframes animacionImagenAgrandar {
    
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.2);
    }
}
.contenedorCentroImagen2{
    float: left;
    width: 50%;
    display: flex;
    justify-content: start;
}
.contenedorCentroImagen2 img{
    width: 70%;
    animation-name: animacionImagenAgrandar;
    animation-duration: 3s;
    animation-iteration-count:infinite;  
}
.contenedorCentroImagen2 img:hover {
    filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.7));
}
.menuDesplegable{
    position: fixed;
    top:0;
    z-index: 100001;
    width: 100%;
    height: 50px;
    background-color: #47a652;
    color:white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 120px;

}   
.contenidoDesplegable{
    text-align: center;
    justify-self: center;
    user-select: none; 
}
.contenidoDesplegable:hover{
    background-color: #54d663;
}

.AparecerContenido{
    background-color: rgb(214, 214, 214);
    display: none;
    width: 200px;
}
.contenidoDesplegable:hover .AparecerContenido {
    display: block;
}
.contenidoDesplegable a{
    text-decoration: none;
    color: white;
}
.enlace{
    padding: 10px 0 10px 0;
    user-select: none;
    transition: transform 0.2s ease-in;
}
.enlace a{
    text-decoration: none;
    color: black;
}
.enlace:hover{
    background-color: #90e49a;
    transform: scale(1.05);
    border-radius: 3px;
}
.enlace:hover a{
    color: white;
}
.subrayado {
    position: relative;
}
.subrayado::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}

.subrayado:hover::after {
    visibility: visible;
    transform: scaleX(1);
}
.publi{
    width: 75%;
    background-color: rgb(239 239 239);
    margin: auto;
    margin-top: 60px;
    height: 70vh;
    border-radius: 5px;
    transition: transform 0.4s ease, box-shadow 0.3s ease; 
}
.publi:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.publi img{
    display: flex;
    justify-self: center;
    width: 70%;
    padding: 12px;

}
.publi p{
    padding: 20px;
    text-align: center;
    
}

.videoIndex{
    margin-top: 40px;
    text-align:center;
}
.videoIndex iframe{
    width: 75%;
    height: 50vh;
    display: flex;
    justify-self: center;

}

.contenedorCalendario h2{
    margin-top: 60px;
    text-align: center;
}
.contenedorCalendario table{
    border-collapse: collapse;
    text-align: center;
    margin: 20px auto 150px auto;
    user-select: none;
}
.contenedorCalendario td{
    position: relative;
}
.contenedorCalendario td, th{
    width: 10vh;
    height: 8vh;
    border: #47a652 2px solid;
}
.festivo{
    color: red;
}
.diaOtroMes{
    color: grey;
}
.diaConEvento{
    background-color: #90e49a;
}
.menuTabla {
    background-color: rgb(255, 255, 255);
    display: block;
    opacity: 0;
    position: absolute;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    left: 103%;
    top: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    pointer-events: none;
    text-align: left;
    box-shadow: 0 10px 20px #00000099;
}
.menuTabla li{
    color: black;
}
.menuTabla h4{
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 5px;
}
.contenedorCalendario td:hover .menuTabla  {
    opacity: 1;
    transform: translateY(-40%);
}

/*PIE*/
footer{
    width: 100%;
    background-color: #8aef96 ;
    height: 50px;
    color: white;
    font-family: montserrat, arial;
    position: fixed;
    bottom:0;
    z-index: 100001;
    text-align: end;
}
footer ol{
    display: inline-flex;
    gap: 30px;
    margin-right: 23px; 
    list-style-type: square;
}
/*FORMULARIO*/ 
.mainFormulario{
    margin-top: 115px;
    position: relative;
    
}
.centroFormulario{
    position: relative;
    width: 60%;
    height: 100vh;
    margin: auto;
    background-image: url("../images/geckoFondoFormulario.png");
    background-repeat: no-repeat;
}
.contenedorFormulario{
    background-color: #47a652bd;
    width: 75%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
}
.contenedorFormulario h2{
    color: white;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 5px 2px rgba(133, 133, 133, 0.698);
}
.colocarLabel{
    padding-bottom: 23px;
    text-align: end;
    padding-right: 30px;
}
.separarFormulario{
    margin-top: 100px;
}
.contenedorGeneralLabel{
    float: left;
    width: 48%;
}
.contenedorGeneralInput{
    float: right;
    width: 48%;   
}
label{
    color: white;
}
.colocarInput{
    margin-bottom: 14px;
    overflow: hidden;
}
.colocarInput input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.colocarSexoh{
    width: 22%;
    float: left;
}
.colocarSexom{
    width: 22%;
    float: left;
}
.colocarSexom input{
    width: 20%
}
.colocarSexoh input{
    width: 20%
}
.colocarBotones{
    clear: both;
    text-align: center;
}
.btn{
    border: none;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: trasform 0.3s ease;
}
.btn:hover{
    background: linear-gradient(255, 0, 0, 0.8);
    background-color: #90e49a;
    transform: translateY(1.3);
    color: white;
}
.btn:active{
    background-color: #47a652;
}
.colocarInputImagen{
    margin-bottom: 14px;
    overflow: hidden;
}
.colocarInputImagen input{
    width: 200px;
    height: 25px;
    border: none;
}
/*Noticias*/
.publiNoticias{
    margin: 30px auto 30px auto;
    text-align: center;
}
.btnVolverNoticias{
    width: 100%;
    margin: 30px auto 80px auto;
    overflow: hidden;
    text-align: center;
}
.btnNoticias {
    z-index: 10; 
    border: none;
    background-color: #54d663;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}
.btnNoticias{
    border: none;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    z-index: 11;
}
.btnNoticias::before{
    top: 0;
    content: '';
    width:100%;
    height: 100%;
    left: -100%;
    position: absolute;
    background: linear-gradient(#ffffff00, #ffffff4a, #ffffff00);
    transition: left 0.5s ease;
}
.btnNoticias:hover::before{
    left: 100%;
    
}
.btnNoticias:active{
    background-color: #47a652;
}
.centrarTxt{
    text-align: center;
}
.tarjeta{
    width: 100%;
    margin-top:50px ;
    height: 40vh;
    overflow: hidden;
}
.tarjetaLocalDelante{
    width: 45%;
    height: 30vh;
    position: relative;
    margin: auto;
    background-color: #54d663;
    z-index: 12;
    transition: transform 1s  ease;
    padding: 20px;
}
.tarjetaLocalAtras{
    width: 45%;
    height: 30vh;
    top: -327px;
    position: relative;
    margin: auto;
    background-color: #b7e9ab;
    transition: transform 1s ease, box-transition 1s ease-in-out;
    padding: 20px;
}
.tarjetaLocalAtras h4, li{
    color: white;
}
.tarjetaLocalDelante img{
    margin-left: 15%;
    margin-top: 5%;
}
.tarjeta:hover .tarjetaLocalDelante {
    transform: translateX(49%);
    box-shadow:  0 10px 10px #00000070;
}
.tarjeta:hover .tarjetaLocalAtras {
    transform: translateX(-49%);
}
.btnVolverFauna{
    width: 100%;
    margin: 30px auto 80px auto;
    overflow: hidden;
    text-align: center;
}
@keyframes animaciónBotonFauna {
    
    0%{
        transform: scale(1.2);
        transform: rotate(25deg);
    }
    25%{
        transform: translateX(25%) ;
    }
    50%{
        transform: scale(0.8);
        transform: rotate(-25deg);
    }
    75%{
        transform: translateX(-50%) ;
    }
    100%{
        transform: scale(1.2);
        transform: rotate(25deg);
    }
}
.btnFauna { 
    border: none;
    background-color: #54d663;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btnFauna:hover {
    background-color: #45b34d;
    transform: scale(1.05);
}
.btnFauna:active{
    background-color: #27762c;
}
